                        <div class="container-fluid">
                          <div class="row">
                            <h4 style="padding-left:16px";>Quick Access :</h4>
                              <div class="col-md-4">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                      <div class="col-md-6">
                                            <a href="#">Live Bayan</a><br>
                                            <a href="#">Videos</a><br>
                                            <a href="#">Books</a><br>
                                            <a href="#">Hamt o Naat</a><br>
                                            <a href="#">Shakhshiyat</a><br>
                                            <a href="#">Khwateen</a><br> 
                                            <a href="#">Kids</a><br>
                                            <a href="#">Speeches</a>
                                      </div>
                                      <div class="col-md-6">
                                          <a href="#">Islamic Events</a><br>
                                          <a href="#">Wallpapers</a><br>
                                          <a href="#">Interaction</a><br>
                                          <a href="#">Pillers Of Islam</a><br>
                                          <a href="#">Islamic Stories</a><br>
                                          <a href="#">Subscribe to Us</a><br>
                                          <a href="#">Ask Aalim</a>
                                      </div>
                                    </div>
                                </div>
                              </div>
                              
                              <div class="col-md-8">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="col-md-5">
                                            <h4>Address :</h4>
                                                <address>
                                                  Peaceinfotech IT Solutions, F-306,<br> 
                                                  Dreams the Mall,Bhandup (west),<br>
                                                  Mumbai-400078.
                                                </address>
                                                  Email:info.abc@gmail.com
                                                  Website:www.literaturebook.com
                                            </div>
                                            <div class="col-md-7">
                                            <h4>Contact Person :</h4>  
                                              Arbaz Khan Rizvi : (+91)-7276856930<br>
                                              Ashfoque Sahab Qadri : (+91)-7276856930<br>
                                              Raees Sahab : (+91)-7276856930<br>
                                              <i class="fa fa-facebook-square fa-x" aria-hidden="true">&nbsp;facebook</i><br>
                                              <i class="fa fa-twitter-square fa-x" aria-hidden="true">&nbsp;twitter</i><br>
                                              <i class="fa fa-google-plus-square fa-x" aria-hidden="true">&nbsp;google-plus</i>
                                            </div>
                                        </div>
                                    </div>
                              </div>
                            </div>
                        </div>
                      
  
