<div class="container">
          <div class="row">
            <div class="col-sm-*">
                <h5><i class="fa fa-user-circle fa-5x" aria-hidden="true">User Profile</i></h5>
            </div>
          </div>
        <div class="row">
            <div class="col-md-8">
                <hr class="custom-hr">
                <div class="col-md-3"><label>Name :</label></div>ABCDEFGHIJKL<hr class="custom-hr">
                <div class="col-md-3"><label>Mobile Number :</label></div>9856321563<hr class="custom-hr">
                <div class="col-md-3"><label>Email Id :</label></div>peace@xyz.com<hr class="custom-hr">
                <div class="col-md-3"><label>Country Name :</label></div>INDIA<hr class="custom-hr">
                <div class="col-md-3"><label>State Name :</label></div>MAHARASHTRA<hr class="custom-hr">
                <div class="col-md-3"><label>City Name :</label></div>MUMBAI<hr class="custom-hr">
                <div class="col-md-3"><label>Role :</label></div>CONTENT MANAGER<hr class="custom-hr">
                <div class="col-md-3"><label>Introduction :</label></div>
                <div class="col-md-offset-3">Scala Content Manager is a powerful, server-based application for digital signage content distribution, scheduling and management that lets you control from one to hundreds, even thousands, of digital signage displays from a single browser interface.
                    Advertising, news, training or virtually any other visual communication can be easily distributed to Scala Players. Content is created using Scala Designer or other industry standard applications.</div><hr class="custom-hr">
            </div>
        </div>
      </div>     
 <hr>
<!--<div ui-view></div>-->