
      <div class="container">
        <div class="row">
            <h3>Update Personality Page</h3>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-*">
                            <div class="col-md-5">Personality Name</div>
                            <div class="col-md-3">By:Hazrat Allama Raees</div>
                            <div class="col-md-2">Date:25/02/2017</div>
                            <div class="col-md-1">
                                <i class="fa fa-pencil fa-x" aria-hidden="true">&nbsp;<a href="#">Edit</a></i>
                            </div>
                            <div class="col-md-1">
                                <i class="fa fa-trash fa-x" aria-hidden="true">&nbsp;<a href="#">Delete</a></i>
                            </div>
                        </div>
                    </div><hr class="custom-hr">
                    
                    <div class="row">
                        <div class="col-md-*">
                            <div class="col-md-5">Personality Name</div>
                            <div class="col-md-3">By:Hazrat Allama Raees</div>
                            <div class="col-md-2">Date:25/02/2017</div>
                            <div class="col-md-1">
                                <i class="fa fa-pencil fa-x" aria-hidden="true">&nbsp;<a href="#">Edit</a></i>
                            </div>
                            <div class="col-md-1">
                                <i class="fa fa-trash fa-x" aria-hidden="true">&nbsp;<a href="#">Delete</a></i>
                            </div>
                        </div>
                    </div><hr class="custom-hr">
                    <div class="row">
                        <div class="col-md-*">
                            <div class="col-md-5">Personality Name</div>
                            <div class="col-md-3">By:Hazrat Allama Raees</div>
                            <div class="col-md-2">Date:25/02/2017</div>
                            <div class="col-md-1">
                                <i class="fa fa-pencil fa-x" aria-hidden="true">&nbsp;<a href="#">Edit</a></i>
                            </div>
                            <div class="col-md-1">
                                <i class="fa fa-trash fa-x" aria-hidden="true">&nbsp;<a href="#">Delete</a></i>
                            </div>
                        </div>
                    </div><hr class="custom-hr">
                    <div class="row">
                        <div class="col-md-*">
                            <div class="col-md-5">Personality Name</div>
                            <div class="col-md-3">By:Hazrat Allama Raees</div>
                            <div class="col-md-2">Date:25/02/2017</div>
                            <div class="col-md-1">
                                <i class="fa fa-pencil fa-x" aria-hidden="true">&nbsp;<a href="#">Edit</a></i>
                            </div>
                            <div class="col-md-1">
                                <i class="fa fa-trash fa-x" aria-hidden="true">&nbsp;<a href="#">Delete</a></i>
                            </div>
                        </div>
                    </div><hr class="custom-hr">
                    <div class="row">
                        <div class="col-md-*">
                            <div class="col-md-5">Personality Name</div>
                            <div class="col-md-3">By:Hazrat Allama Raees</div>
                            <div class="col-md-2">Date:25/02/2017</div>
                            <div class="col-md-1">
                                <i class="fa fa-pencil fa-x" aria-hidden="true">&nbsp;<a href="#">Edit</a></i>
                            </div>
                            <div class="col-md-1">
                                <i class="fa fa-trash fa-x" aria-hidden="true">&nbsp;<a href="#">Delete</a></i>
                            </div>
                        </div>
                    </div><hr class="custom-hr">
                    <div class="row">
                        <div class="col-md-*">
                            <div class="col-md-5">Personality Name</div>
                            <div class="col-md-3">By:Hazrat Allama Raees</div>
                            <div class="col-md-2">Date:25/02/2017</div>
                            <div class="col-md-1">
                                <i class="fa fa-pencil fa-x" aria-hidden="true">&nbsp;<a href="#">Edit</a></i>
                            </div>
                            <div class="col-md-1">
                                <i class="fa fa-trash fa-x" aria-hidden="true">&nbsp;<a href="#">Delete</a></i>
                            </div>
                        </div>
                    </div><hr class="custom-hr">
                    <div class="row">
                        <div class="col-md-*">
                            <div class="col-md-5">Personality Name</div>
                            <div class="col-md-3">By:Hazrat Allama Raees</div>
                            <div class="col-md-2">Date:25/02/2017</div>
                            <div class="col-md-1">
                                <i class="fa fa-pencil fa-x" aria-hidden="true">&nbsp;<a href="#">Edit</a></i>
                            </div>
                            <div class="col-md-1">
                                <i class="fa fa-trash fa-x" aria-hidden="true">&nbsp;<a href="#">Delete</a></i>
                            </div>
                        </div>
                    </div><hr class="custom-hr">
                    <div class="row">
                        <div class="col-md-*">
                            <div class="col-md-5">Personality Name</div>
                            <div class="col-md-3">By:Hazrat Allama Raees</div>
                            <div class="col-md-2">Date:25/02/2017</div>
                            <div class="col-md-1">
                                <i class="fa fa-pencil fa-x" aria-hidden="true">&nbsp;<a href="#">Edit</a></i>
                            </div>
                            <div class="col-md-1">
                                <i class="fa fa-trash fa-x" aria-hidden="true">&nbsp;<a href="#">Delete</a></i>
                            </div>
                        </div>
                    </div><hr class="custom-hr">
                    <div class="row">
                        <div class="col-md-*">
                            <div class="col-md-5">Personality Name</div>
                            <div class="col-md-3">By:Hazrat Allama Raees</div>
                            <div class="col-md-2">Date:25/02/2017</div>
                            <div class="col-md-1">
                                <i class="fa fa-pencil fa-x" aria-hidden="true">&nbsp;<a href="#">Edit</a></i>
                            </div>
                            <div class="col-md-1">
                                <i class="fa fa-trash fa-x" aria-hidden="true">&nbsp;<a href="#">Delete</a></i>
                            </div>
                        </div>
                    </div><hr class="custom-hr">
                    <div class="row">
                        <div class="col-md-*">
                            <div class="col-md-5">Personality Name</div>
                            <div class="col-md-3">By:Hazrat Allama Raees</div>
                            <div class="col-md-2">Date:25/02/2017</div>
                            <div class="col-md-1">
                                <i class="fa fa-pencil fa-x" aria-hidden="true">&nbsp;<a href="#">Edit</a></i>
                            </div>
                            <div class="col-md-1">
                                <i class="fa fa-trash fa-x" aria-hidden="true">&nbsp;<a href="#">Delete</a></i>
                            </div>
                        </div>
                    </div><hr class="custom-hr">
                    <div class="row">
                        <div class="col-md-*">
                            <div class="col-md-5">Personality Name</div>
                            <div class="col-md-3">By:Hazrat Allama Raees</div>
                            <div class="col-md-2">Date:25/02/2017</div>
                            <div class="col-md-1">
                                <i class="fa fa-pencil fa-x" aria-hidden="true">&nbsp;<a href="#">Edit</a></i>
                            </div>
                            <div class="col-md-1">
                                <i class="fa fa-trash fa-x" aria-hidden="true">&nbsp;<a href="#">Delete</a></i>
                            </div>
                        </div>
                    </div><hr class="custom-hr">
                    
                    <div class="row">
                      <div class="col-sm-offset-5">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li><a href="slider.html" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span></a>
                                </li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                  <a href="page2.html" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                  </a>
                                </li>
                            </ul>
                        </nav>
                      </div>
                    </div>
                    
                </div>
            </div>
        </div>
      </div>
     